/* general styles */
.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.menu {
    height: 30px;
	text-align:center;
}
.menu li {
   /*CSS GRADIENT start [background:rgba(255,255,255,.8);]*/
    
	background: #06f0fb; /* Old browsers */
background: -moz-linear-gradient(top,  #06f0fb 0%, #003ca3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06f0fb), color-stop(100%,#003ca3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #06f0fb 0%,#003ca3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #06f0fb 0%,#003ca3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #06f0fb 0%,#003ca3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #06f0fb 0%,#003ca3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06f0fb', endColorstr='#003ca3',GradientType=0 ); /* IE6-9 */
    

   /*CSS GRADIENT END*/
	box-shadow: 1px 1px 1px rgba(0,0,0,.6),-1px -1px 1px rgba(0,0,0,.6);
    border-bottom: 1px solid #1d5cab;
    min-width: 110px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}
.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

/* onhover styles */
.menu li:hover {
    background-color: rgba(255,255,255,.9);
	c
    border-bottom: 2px solid #6fbe44;
}
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 3px solid #6fbe44;
    color: #1d5cab;
}

/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #6fbe44;
    border-radius: 0;
    color: #6fbe44;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/*SOCIAL*/

/* sharing stuff */
.sharing-container
{
    position: fixed;
    top: 40%;
    left: 0;
    right: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 11100;
    overflow: hidden;
    width: 64px;
}

    .sharing-container .sharing-item
    {
        width: 48px;
        height: 48px;
        text-align: center;
        cursor: pointer;
    }

        .sharing-container .sharing-item:hover
        {
            width: 64px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

    .sharing-container .sharing-img
    {
        display: inline-block;
        margin: auto;
        margin-top: 8px;
        width: 32px;
        height: 32px;
        background-image: url(../img/sharing32x32.png);
    }

    .sharing-container .sharing-fb
    {
        background-color: #305891;
    }

        .sharing-container .sharing-fb .sharing-img
        {
            background-position: 0px 0px;
        }

    .sharing-container .sharing-gp
    {
        background-color: #CE4D39;
    }

        .sharing-container .sharing-gp .sharing-img
        {
            background-position: 0px -96px;
        }

    .sharing-container .sharing-tw
    {
        background-color: #2CA8D2;
    }

        .sharing-container .sharing-tw .sharing-img
        {
            background-position: 0px -32px;
        }

    .sharing-container .sharing-li
    {
        background-color: #4498C8;
    }

        .sharing-container .sharing-li .sharing-img
        {
            background-position: 0px -64px;
        }
 .sharing-container .sharing-yt
    {
        background-color: #bf221f;
    }

        .sharing-container .sharing-yt .sharing-img
        {
            background-position: 0px -128px;
        }
